body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: rgb(238, 118, 32);
}

.flexible-container {
    display: flex;
    margin-bottom: 80px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(chartreuse, rgb(207, 240, 116));
    padding: 10px 25px;
    border-radius: 8px;
    font-weight: 600;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.experience-item {
    width: 50%;
    padding-left: 20px;
    box-shadow: 10px 10px 50px rgb(87, 83, 83);
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 8px;
}

.experience-tab {
    color: white;
    text-align: center;
    background-color: rgb(73, 71, 71);
    margin-left: 40%;
    margin-right: 40%;
}

#stack-web {
    border-left: 10px solid rgb(194, 23, 143);
}

#baby-web {
    border-left: 10px solid rgb(59, 59, 206);
}

footer {
    text-align: center;
}